.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 75px;
  margin-bottom: 3px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  font-size: 45px;
  color: snow;
}

.active a {
  color: tomato;
}

.dark-header {
  background: #424b42;
}

.light-header {
  background: #eaa774;
}

.switcher {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.switcher p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: snow;
}

/*--------Checkbox--------*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*---------------------------*/


